.container {
  padding: 0 4rem;
  color: #ffffff;
  transition: padding 500ms;
}

/* Preload Images */
.container::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  content: url(/Home/page1.jpg) url(/Home/page2.jpg);
}

/* Header */
.header {
  position: relative;
  background-color: #D3C398;
  width: 100%;
  height: 480px;
}

.header>.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 480px;
  width: calc(100vw - 4rem);
}

.header>.content>p {
  font-style: normal;
  font-weight: 700;
  line-height: 5px;
}

.header .content>.title {
  font-size: 50px;
}

.header>.content>.description {
  font-size: 25px;
}

.header>.background {
  background-image: url("/Home/header.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.8;
  border-radius: 0px 0px 5px 5px;
}

/* Page */

.page {
  height: 800.25px;
  width: 100%;
  background-color: #313131;
  transform: skewY(0deg);
  padding-bottom: 100px;

}

.page:last-child>* {
  transform: skewY(-4deg);
}

.page:last-child {
  background-color: #8F8B8B;
  height: 850px;
  transform: skewY(4deg);
  margin-top: -45px;
}

.page>.title {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  height: 150px;
  margin: 0 80px;
}

.page>.contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 650px;
  transition: flex-direction 500ms;
}

.page>.contents>img {
  width: 30%;
  height: auto;
  transition: opacity 250ms;
}

.page>.contents>.description {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: skewY(0deg);
  background-color: #313131;
  width: 100%;
  height: 120px;
  margin-top: -45px;
  color: #ffffff;
}

@media (max-width: 850px) {
  .container {
    padding: 0;
  }

  .header>.content {
    width: 100vw;
  }

  .page {
    background-image: url(/Home/page1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    border-radius: 0px 0px 5px 5px;
  }

  .page:last-child {
    background-image: url(/Home/page2.jpg);
  }

  .page>.title {
    text-shadow: #313131 2px 2px 2px;
  }

  .page>.contents {
    background-color: #313131;
    padding: 53px;
    opacity: 0.8;
  }

  .page>.contents>img {
    position: absolute;
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .page>.title {
    text-align: center;
  }
}